Q1. Create one variable containing following type of data:

a = "Sandesh"
b = [1,2,3,4,5]
c = 23.56
d = ("sandesh", "shankar", "khandagale")

Q2. Given are some following variables containing data:

(i)	var1 = ' ' Type = String

(ii)	var2 = ‘[ DS , ML , Python]’ Type = String

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] Type = List

(iv)	var4 = 1  Type = Integer

Q3. Explain the use of the following operators using an example

(i)	/ = divides the first operand by the second
(ii) % = returns the remainder when the first operand is divided by the second
(iii)	// = divides the first operand by the second
(iv)	** = Returns first raised to power second

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [3]:
a= [1,2, "sand", 2.34, (1,2),4,55.6,True,9+6j,10]

for i in a:
    print (i)
    print (type(i))

1
<class 'int'>
2
<class 'int'>
sand
<class 'str'>
2.34
<class 'float'>
(1, 2)
<class 'tuple'>
4
<class 'int'>
55.6
<class 'float'>
True
<class 'bool'>
(9+6j)
<class 'complex'>
10
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [6]:
a = 10
b=  1
i = 0
while a>=b:
    if a%b ==0:
        print(a)
        print(b)
        print("a is divisible by b")
        b= b+1
        i = i+1
       
        
        
                
    else:
        print(a)
        print(b)
        print("a is not divisible by b")
        
        b= b+1       
print(i)
print("times a is divisible by b")

10
1
a is divisible by b
10
2
a is divisible by b
10
3
a is not divisible by b
10
4
a is not divisible by b
10
5
a is divisible by b
10
6
a is not divisible by b
10
7
a is not divisible by b
10
8
a is not divisible by b
10
9
a is not divisible by b
10
10
a is divisible by b
4
times a is divisible by b

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [ ]:
a = list (range(25))
for i in a:
    print(i)
    if i%3 == 0:
        print("divisible by 3")
        
    else:
        print("not divisible by 3")

0
divisible by 3
1
not divisible by 3
2
not divisible by 3
3
divisible by 3
4
not divisible by 3
5
not divisible by 3
6
divisible by 3
7
not divisible by 3
8
not divisible by 3
9
divisible by 3
10
not divisible by 3
11
not divisible by 3
12
divisible by 3
13
not divisible by 3
14
not divisible by 3
15
divisible by 3
16
not divisible by 3
17
not divisible by 3
18
divisible by 3
19
not divisible by 3
20
not divisible by 3
21
divisible by 3
22
not divisible by 3
23
not divisible by 3
24
divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable objects are those that allow you to change their value or data in place without affecting the object’s identity. In contrast, immutable objects don’t allow this kind of operation. You’ll just have the option of creating new objects of the same type with different values.
Eg. l= [1,2,3,4, "sand", True, 'pwskills', 4+5j]
l[3] = 4
l[3]=150
Ans. l= [1,2,3,150, "sand", True, 'pwskills', 4+5j] 
in above example we can replace 4 with 150 number so List is mutable

now  s ="sand"
s[1] = ‘a’
S[1] = ‘p’
Not possible, we can not replace. 
In above example we can not replace ‘a’ with ‘p’ so String is immutable